
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.header{
  background-color: #486D99;
}

.head-button{
  background-color: #486D99;
  font-size: 45px;
}

.dos-btns{
  text-align: right;
}

.cancel-button{
  margin-right: 6px;
}

// .image-holder{
//   width: 100%;
//   height: 350px;
//   background-color: red;
// }
//
// .text-holder{
//   width: 100%;
//   height: 150px;
//   background-color: green;
// }
